* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.loading {
  text-align: center;
}
.underline {
  width: 7rem;
  height: 0.25rem;
  background: teal;
  margin: 1rem auto;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  margin: 0 1.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
}
.job-btn:hover {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}
.active-btn {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}

.job-info h3 {
  font-weight: 400;
}
.job-info h4 {
  text-transform: uppercase;
  color: #617d98;
  background: #dae2ec;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.job-date {
  letter-spacing: 0.25rem;
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: #324d67;
}
.job-icon {
  color: #2caeba;
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 #2caeba;
  }
  .job-btn:hover {
    box-shadow: -2px 0 #2caeba;
  }
}

.btn {
  text-transform: uppercase;
  background: #2caeba;
  color: #bff8fd;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  display: block;
  width: 12rem;
  margin: 3rem auto 0;
}
.btn:hover {
  color: #044e53;
  background: #88ebf2;
}
